@{
    ViewBag.Title = "Home Page";
}
<head>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>


<div class="jumbotron">
    <h1>نمایش جدول اطلاعات حقوق </h1>
    <p class="lead">کارکنان</p>
    <p><a href="#" class="btn btn-primary btn-lg">نمایش &raquo;</a></p>
    <input type="button" value="Get Message" onclick="location.href='@Url.Action("but", "Home")'" />
</div>
<script>
    function but() {
        $.get("/Home/but", function (data) {
            $("p").html(data);
        });
    }</script>



